ion-content ion-toolbar {
    --background: translucent;
}

.color-holder {
    text-align: center;

    .color {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        display: inline-flex;
        margin: 5px;
    }
}

.efeito-em-andamento-modal {
    --width: 60%;
}

ion-item {
    --ion-item-background: white;
    --ion-item-color: black;

    ion-avatar {
        height: 29px;

        ion-icon {
            font-size: 30px;
        }

    }

}

.toggle {
    --background: #8c8a8a;
}

ion-card-subtitle {
    color: black;
    font-weight: bold;
}

.custom-label {
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 3px;
}

ion-toggle {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.power-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 55%;
}

.title-stripe {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    line-height: 0.1em;
    margin: 10px 0 10px;
}

.title-stripe span {
    background: black;
    padding:0 10px;
}
