.header {
    height: 60px;
    width: 100%;
    background-color: #e2e2e2;
    color: black;
    text-align: center;
    font-size: 57px;
}

.body-alert {
    padding: 5px 10px 10px;
    text-align: center;
}
