<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <img src="assets/logo_transparente.png"> RGBTRIP
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="manual">
            <ion-icon name="color-palette-sharp"></ion-icon>
            <ion-label>Cores</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="efeitos">
            <ion-icon name="color-wand-sharp"></ion-icon>
            <ion-label>Efeitos</ion-label>
        </ion-tab-button>

<!--        <ion-tab-button tab="som">-->
<!--            <ion-icon name="musical-notes-outline"></ion-icon>-->
<!--            <ion-label>Som</ion-label>-->
<!--        </ion-tab-button>-->
    </ion-tab-bar>
</ion-tabs>
