ion-content ion-toolbar {
    --background: translucent;
}

ion-item {
    --ion-item-background: white;
    --ion-item-color: black;

    ion-avatar {
        height: 29px;

        ion-icon {
            font-size: 30px;
        }

    }
}
