ion-content ion-toolbar {
    --background: translucent;
}

ion-item {
    --ion-item-background: white;
    --ion-item-color: black;

    ion-avatar {
        height: 29px;

        ion-icon {
            font-size: 30px;
        }

    }
}

.title-stripe:first-child {
    margin-top: 10px !important;
}

.title-stripe {
    width: 95%;
    text-align: center;
    border-bottom: 1px solid #fff;
    line-height: 0.1em;
    margin: 40px auto 25px;
}

.title-stripe span {
    background: black;
    padding: 0 10px;
    font-size: 17px;
}
