<ion-content [fullscreen]="true">
    <ion-row>
        <ion-col size="12" size-md="6" size-lg="6" size-xl="6">
            <ion-card>
                <ion-card-header>
                    <ion-label class="custom-label">Corte</ion-label>
                    <ion-range min="1" max="3000" color="secondary">
                        <ion-label slot="start">1</ion-label>
                        <ion-label slot="end">3000</ion-label>
                    </ion-range>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
