<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Monte sua cor:</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="wheel" id="colorWheelDemo"></div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cores rápidas:</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="color-holder">
      <div class="color" *ngFor="let color of hotColors" [ngStyle]="{'background-color': color}" (click)="changeColor(color)"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
