ion-card {
    background-color: white;

    ion-card-subtitle {
        color: black;
    }
}

ion-content {
    --padding-top: 50px;
}

.efeito-em-andamento-modal {
    --width: 60%;
    --height: 200px;
}

app-efeito-em-andamento.ion-page {
    background-color: white;
    justify-content: normal !important;
}

ion-list {
    background-color: whitesmoke;
    --ion-item-background: #whitesmoke;
    --ion-item-color: black;
}

.IroWheel, .IroSlider {
    margin-left: auto;
    margin-right: auto;
}


.efeito-modal {
    --width: 80%;
    --height: auto;

    app-efeito-modal {
        overflow: visible;
    }

    .modal-wrapper {
        background-color: #1d1d1dc4;
        border-radius: 10px;
        overflow: visible;
        width: 90vw;

        .ion-page {
            position: relative;
            contain: inherit;

            .modal-content {
                overflow: visible;
            }
        }

    }

}

ion-card.ios {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
