ion-card {
    background-color: white;

    ion-card-subtitle {
        color: black;
    }
}

ion-content{
    --padding-top: 50px;
}

.efeito-em-andamento-modal {
    --width: 60%;
    --height: 200px;
}

app-efeito-em-andamento.ion-page {
    background-color: white;
    justify-content: normal !important;
}

ion-list {
    background-color: whitesmoke;
    --ion-item-background: #whitesmoke;
    --ion-item-color: black;
}

.IroWheel,.IroSlider {
    margin-left: auto;
    margin-right: auto;
}
